*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ol, ul, li{
    list-style: none;
}
body{
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    background-color: black;
    
}
main{
    background-color: tomato;
}
header{
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primeiraCaixa{
    display: flex;
    align-items: center;
}
.segundaCaixa{
    display: flex;
    gap: 70px;
}
.terceiraCaixa{
    display: flex;
    padding: 0px 10px 0px 0px;
    gap: 20px;
    align-items: center;
}
.barraPesquisa{
    width: 20vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    gap: 20px;
    
}
.barraPesquisa input{
    background-color: black ;
}
.barraPesquisa button{
    background-color: black ;
}
